{
  "extends": "airbnb-base",
  "env": {
    "jest": true
  },
  "rules": {
    "no-console": 0,
    "no-debugger": 1,
    "no-duplicate-case": 2,
    "no-empty-character-class": 2,
    "no-empty": 2,
    "semi": 2
  }
}
